[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
psycopg2 = "*"
django-taggit = "*"
markdown = "*"
python-dotenv = "*"
gunicorn = "*"
django-summernote = "*"

[dev-packages]

[requires]
python_version = "3.10"
