{% extends 'webapp/_base.html' %}
{% load webapp_extras %}
{% block title %}
Blogs
{% endblock title %}
{% block content %}
<main>
    <div class="content">
        <h1>Blogs</h1>
        <p>Since last {{since}}, I’ve written {{posts_count|default:"0"}} post{{posts_count|default:"0"|pluralize:"s"}}.
            {% if posts_count %} Here’s the complete list.{% endif %}</p>
        {% for article in articles %}
        <h2>{{article.year}}</h2>
        <ul>
            {% for post in article.objects %}
            <li><a href="{% url 'app_webapp:article_detail' post.slug %}">{{post.title}}</a> — <time
                    dateTime="{{post.published_on|date:'Y-m-d'}}">{{post.published_on|date:"M j"}}</time></li>
            {% endfor %}
        </ul>
        {% endfor %}
    </div>
</main>
{% endblock content %}